*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Decoration de l'entête de la page */
header{
    height: 10em;
    padding: 1em;
    
    h3{
        display: inline-block;
        margin: 1em;
    }
    nav{
        display: inline-block;
        li{
            display: inline-block;
            border-radius:  1.3em;
            padding: 1em;
            margin: 1em;
            position: relative;
            left: 30em;
            background-color: #0820A8;
            color: white;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
.section1{
    height: 35em;
   
 
    p{
        text-align: justify;
        
    }
   
}
.imghero{
    display: inline-block;
    width: 50%;
}
.texthero{
    display: inline-block;
    width: 40%;
    position: relative;
    top: -7em;
    padding: 2em;
}
.buton{
    padding: 1.2em;
    position: relative;
    left: 12em;
    width: 15em;
    border-radius: 1em;
    border: none;
      background-color: #0820A8;
            color: white;


}
p{
    font-weight: lighter;
    text-align: justify;
}
.section2{
    padding: 1em;

}
.titreSection2{
     padding: 1em;
    width: 15em;
    border-radius: 1em;
    border: none;
      background-color: #0820A8;
            color: white;

}

.section3{
    padding: 1em;
    
}
.titreSection3{
     padding: 1em;
    width: 15em;
    border-radius: 1em;
    border: none;
      background-color: #0820A8;
            color: white;

}

.section4{
    padding: 1em;
    
}
.titreSection4{
     padding: 1em;
    width: 15em;
    border-radius: 1em;
    border: none;
      background-color: #0820A8;
            color: white;

}